apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: portal-db
  namespace: asobiba
  labels:
    app.kubernetes.io/name: portal
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
